#console-output {
    white-space: pre-wrap;
    font-family: monospace;
    background-color: #000;
    color: #fff;
    padding: 10px;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}