#console-output {
    white-space: pre-wrap;
    background-color: #000;
    color: lime;
    padding: 10px;
    font-family: 'Consolas', 'Courier New', monospace;
    overflow-y: auto;
    height: calc(100vh - 20px);
    border: none;
    outline: none;
    resize: none;
    box-sizing: border-box;
}